// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

/* mouse over link */
a:hover {
  color: rgb(0, 128, 255);
}

/* mouse over title link */
h3.article-title a:hover {
  color: rgb(0, 128, 255);
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

figure{
  padding: 0;
}